

.success {
    color: green;

    margin-top: 50px;
    margin-left: 500px;

    opacity: 10;
}

.error {
     color: indianred;
    margin-top: 100px;
    margin-left: 400px;

}

.error ul {
    list-style-type: none;
}

.error , success {

    text-align: center;
}

.spot-img {
    width: 600px;
    height: 500px;
}

.modal-body {

    margin-left: 200px;

}

.modal{
    width:700px;
}

#form-inscription {
    margin-top: 100px;
}

